<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<style type="text/css">
			body { margin:0; padding:0; color:#333; font-size:9pt;}
			h1 { margin:0; background:black; color:silver; font-weight:bold; height:30px; padding:0; }
			div#groupInfo { border-bottom:solid 1px silver; height:25px; }
			ul#memberList { 
				position:fixed;
				left:0;
				top:56px;
				bottom:0;
				width:150px;
				overflow-y:auto;
				list-style:none;
				padding:3px;
				margin:0;
				background:white;
				border-right:solid 1px silver;
			}
			ul#memberList>li{
				border-bottom:solid 1px silver;
				padding:0;
				margin:0;
				background:white;
			}
			ul#memberList>li>img{
				width:15px;
				height:15px;
			}

			div#chatContainer {
				position:fixed;
				top:56px;
				left:157px;
				right:0;
				bottom:50px;
			}

			div#inputContainer{
				position:fixed;
				bottom:0;
				left:151px;
				right:0;
				height:49px;
				border-top:solid 1px silver;
			}

			#userInput {
				width:100%;
				height:100%;
				color:black;
			}
		</style>
		<script type="text/javascript">

			var members = [];

			function Member(opt){
				var uid = opt.uid || 0;
				var name = opt.name || '';
				var picture = opt.picture || '';
				var userid = opt.userid || '';
				var el = opt.el || makeEl("li");
				var that = this;
				that.el = el;

				if( !name && uid ){
					FB.api('/' + uid, function(response){
						name = response.name;
						userid = response.id;
						that.render();
					});
				}

				var render = function(){
					el.innerHTML = '';
					el.appendChild(makeEl('img', {'src':'https://graph.facebook.com/' + userid + '/picture'}));
					el.appendChild(makeEl('span', {'class':'username'}, name));
				}
				that.render = render;
			}

			function makeEl(tag, opt, cont){
	          var tmp = document.createElement(tag);
	          if( opt ){
	            for(var i in opt){
	              if( opt.hasOwnProperty(i) )
	                if( i == "class" || i == "className" )
	                  tmp.className = opt[i];
	                else
	                  tmp.setAttribute(i, opt[i]);
	            }
	          }

	          if( cont ){
	            tmp.innerHTML = cont;
	          }

	          return tmp;
	        }

	        function $(oid){
	          return document.getElementById(oid);
	        }

			window.fbAsyncInit = function() {
	          FB.init({
	            appId      : '330600707030353', // App ID
	            channelUrl : '/fbchat.lazygyu.net/html/channel.html', // Channel File
	            status     : true, // check login status
	            cookie     : true, // enable cookies to allow the server to access the session
	            xfbml      : true  // parse XFBML
	          });

	          FB.getLoginStatus(function(res){
	          	if( res.status === 'connected'){
	          		FB.api('/me', function(user) {
			            if (user) {
			              var image = document.getElementById('userIcon');
			              image.src = 'https://graph.facebook.com/' + user.id + '/picture';
			              var name = document.getElementById('username');
			              name.innerHTML = user.name
			            }
			          });
	          		FB.api('/<%= gid %>', function(gr){
	          			$("groupTitle").innerHTML = gr.name;
	          		});
	              FB.api( 
	                {
	                  method: 'fql.query', 
	                  query: 'SELECT gid, uid FROM group_member WHERE gid = <%= gid %>' 
	                }, 
	                function(response) { 
	                  $("groupMemberCount").innerHTML = response.length;
	                  var tmp = $("memberList");
	                  for(var i=0,l=response.length;i<l;i++){
	                  	members.push(new Member(response[i]));
	                  	tmp.appendChild(members[i].el);
	                  }
	                });
	          	}else if(res.status === 'not_authorized'){
	          		alert("그룹채팅을 하려면 먼저 페이스북 계정을 연동하랑께요");
	          		FB.login();
	          	}else{
	          		alert("일단 페이스북 로그인을 먼저 해야 한당게요");
	          		FB.login();
	          	}
	          });
	        };

			// Load the SDK Asynchronously
	        (function(d){
	           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	           if (d.getElementById(id)) {return;}
	           js = d.createElement('script'); js.id = id; js.async = true;
	           js.src = "//connect.facebook.net/en_US/all.js";
	           ref.parentNode.insertBefore(js, ref);
	         }(document));
		</script>
		<script type="text/javascript" src="/nowjs/now.js"></script>
	</head>
	<body>
		<h1 id="groupTitle">Group</h1>
		<div id="groupInfo">
			회원 수 : <span id="groupMemberCount">0</span>
		</div>
		<ul id="memberList">
		</ul>
		<div id="chatContainer"></div>
		<div id="inputContainer">
			<img id="userIcon" />
			<textarea id="userInput"></textarea>
		</div>
	</body>
</html>