<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<style type="text/css">
			body { margin:0; padding:0; color:#333; font-size:9pt;}
			h1 { margin:0; background:black; color:silver; font-weight:bold; height:30px; padding:0; }
			div#groupInfo { border-bottom:solid 1px silver; height:25px; }
			ul#memberList { 
				position:fixed;
				left:0;
				top:56px;
				bottom:0;
				width:150px;
				overflow-y:auto;
				list-style:none;
				padding:0;
				margin:0;
				background:white;
				border-right:solid 1px silver;
			}
			ul#memberList>li{
				border-bottom:solid 1px silver;
				padding:0;
				margin:0;
				background:white;
			}

			ul#memberList>li.online{
				color:white;
				font-weight:bold;
				background:#369;
			}
			ul#memberList>li>img{
				width:15px;
				height:15px;
			}

			div#chatContainer {
				position:fixed;
				top:56px;
				left:152px;
				right:0;
				bottom:50px;
				overflow-y:auto;
			}

			div#inputContainer{
				position:fixed;
				bottom:0;
				left:151px;
				right:0;
				height:49px;
				border-top:solid 1px silver;
			}

			#userInput {
				color:black;
				border:solid 1px blue;
				position:fixed;
				left:201px;
				right:0;
				bottom:0;
				hegiht:50px;
			}

			p.chatMessage {
				padding:2px;
				border-bottom:solid 1px #dedede;
				overflow:hidden;
			}

			p.chatMessage>img.userIcon {
				width:32px;
				hegiht:32px;
				vertical-align:text-top;
				float:left;
			}

			p.chatMessage>span.username{
				font-weight:bold;
				padding-left:7px;
			}

			p.chatMessage>div.chatMessage{
				padding-left:50px;
				padding-top:.2em;
			}
			span.timestamp {
				color:#acf;
				font-size:8pt;
				padding-left:1em;
			}

			div.previewDiv {
				padding-left:5em;
				font-size:8pt;
			}

			.previewTitle { font-weight:bold;}
			.previewDesc { color:#ac9; }
			.previewAuthor { color:black; }


		</style>
		<script type="text/javascript">

			var members = [];
			var me = {};
			var scrolling = true;

			function scroll(offset){
				if( !scrolling ) return;
				if( !offset ) offset = 40;
				var ch = $("chatContainer");
				if( ch.scrollTop < ch.scrollHeight - ch.clientHeight - offset ) return;
				$("chatContainer").scrollTop = $("chatContainer").scrollHeight;
			}

			function Member(opt){
				var uid = opt.uid || 0;
				var name = opt.name || '';
				var picture = opt.picture || '';
				var userid = opt.username || '';
				var el = opt.el || makeEl("li", {"id":"user_" + opt.uid});
				var that = this;
				that.el = el;
				that.picture = picture;
				that.name = name;
				that.uid = uid;
				var _isLogedIn = false;
				Object.defineProperty(this, "isLogin", {
					"get":function(){ return _isLogedIn; },
					"set":function(v){ 
						_isLogedIn = v; 
						if( v ){
							if( that.el.className.indexOf('online') == -1 ){
								that.el.className += ' online';
							}
						}else{
							that.el.className = that.el.className.replace(/online/g, '');
						}
					}
				});


				if( !name && uid ){
					FB.api('/' + uid, function(response){
						that.name = response.name;
						that.userid = response.id;
						that.picture = 'https://graph.facebook.com/' + that.userid + '/picture';
						that.render();
					});
				}

				var render = function(){
					el.innerHTML = '';
					el.appendChild(makeEl('img', {'src':that.picture}));
					el.appendChild(makeEl('span', {'class':'username'}, that.name));
				}
				that.render = render;
			}

			function makeEl(tag, opt, cont){
	          var tmp = document.createElement(tag);
	          if( opt ){
	            for(var i in opt){
	              if( opt.hasOwnProperty(i) )
	                if( i == "class" || i == "className" )
	                  tmp.className = opt[i];
	                else
	                  tmp.setAttribute(i, opt[i]);
	            }
	          }

	          if( cont ){
	            tmp.innerHTML = cont;
	          }

	          return tmp;
	        }

	        function $(oid){
	          return document.getElementById(oid);
	        }


			window.fbAsyncInit = function() {
	          FB.init({
	            appId      : '330600707030353', // App ID
	            channelUrl : '/fbchat.lazygyu.net/html/channel.html', // Channel File
	            status     : true, // check login status
	            cookie     : true, // enable cookies to allow the server to access the session
	            xfbml      : true  // parse XFBML
	          });

	          FB.getLoginStatus(function(res){
	          	if( res.status === 'connected'){
	          		FB.api('/me', function(user) {
			            if (user) {
			              var image = document.getElementById('userIcon');
			              image.src = 'https://graph.facebook.com/' + user.id + '/picture';
				      me.uid = user.id;
			            }
			          });
	          		FB.api('/<%= gid %>', function(gr){
	          			$("groupTitle").innerHTML = gr.name;
	          		});
	              FB.api( 
	                {
	                  method: 'fql.query', 
	                  query: 'SELECT gid, uid FROM group_member WHERE gid = <%= gid %>' 
	                }, 
	                function(response) { 
	                  $("groupMemberCount").innerHTML = response.length;
	                  var tmp = $("memberList");
	                  for(var i=0,l=response.length;i<l;i++){
	                  	members[response[i].uid] = new Member(response[i]);
	                  	tmp.appendChild(members[response[i].uid].el);
	                  }
	                });
	          	}else if(res.status === 'not_authorized'){
	          		alert("그룹채팅을 하려면 먼저 페이스북 계정을 연동하랑께요");
	          		FB.login();
	          	}else{
	          		alert("일단 페이스북 로그인을 먼저 해야 한당게요");
	          		FB.login();
	          	}
	          });
	        };

			// Load the SDK Asynchronously
	        (function(d){
	           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	           if (d.getElementById(id)) {return;}
	           js = d.createElement('script'); js.id = id; js.async = true;
	           js.src = "//connect.facebook.net/en_US/all.js";
	           ref.parentNode.insertBefore(js, ref);
	         }(document));
		</script>
		<script type="text/javascript" src="http://fbchat.lazygyu.net:3433/nowjs/now.js"></script>
		<script type="text/javascript">
			var msgCnt = 0;

			now.userLogin = function(uid){
				members[uid].isLogin = true;
			}

			now.userLogout = function(uid){
				members[uid].isLogin = false;
			}
			
			now.makePreview = function(data, tar){
				if( data == null ) return;
				if( typeof data == "string" ) data = eval("(" + data + ")");
				var that = $(tar);
				var title = data.title;
				var desc = data.description;
				var thumb = data.thumbnail_url;
				var author = data.author_name;
				var html = data.html;

				var ch = $("chatContainer");

				var tmph_old = ch.scrollHeight;

				var cont = makeEl("div", {"class":"previewDiv"});
				cont.appendChild( makeEl("div", {"class":"previewTitle"}, title) );
				cont.appendChild( makeEl("p", {"class":"previewDescription"}, desc) );
				cont.appendChild( makeEl("span", {"class":"previewAuthor"}, author) );
				cont.appendChild( makeEl("div", {"class":"preview"}, html) );
				that.appendChild(cont);
				scroll(ch.scrollHeight - tmph_old);
			}

			now.recieveMsg = function(uid, msg, ts){
				var mem = members[uid];
				if(!mem) return;
				var cont = makeEl('p', {'class':'chatMessage', 'id':'msg_' + (msgCnt++)});
				var img = makeEl('img', {'src':mem.picture, 'class':'userIcon'});
				var tss = makeEl('span', {'class':'timestamp'},  ts);
				var nm = makeEl('span', {'class':'username'}, mem.name);
				var msg = msg.replace(/\</g, "&lt;").replace(/\n/g, "<br />");
				var urlReg = /((http|https|ftp|magnet):[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=\|]*)?)/gi;
				var matches = msg.match(urlReg);
				if(matches && matches.length > 0 ){
					for(var i=0,node;node=matches[i++];){
						cont.className += ' wbp';
						msg = msg.replace(node, "<a href='" + node + "' rel='external' onclick='window.open(this.href); return false;'>" + node + "</a>");
						now.parseUrl(node, cont.id);
					}
				}
				//msg = msg.replace(urlReg, "<a href='$1'>$1</a>");
				var message = makeEl('div', {'class':'chatMessage'}, msg);
				cont.appendChild(img);
				cont.appendChild(nm);
				cont.appendChild(tss);
				cont.appendChild(message);
				var ch = $("chatContainer");
				var oldh = ch.scrollHeight;
				ch.appendChild(cont);
				scroll(ch.scrollHeight - oldh);
			}
		
		function enter(){
			if(me.uid)
				now.enter(me.uid, '<%= gid %>');
			else
				setTimeout(enter, 100);
		}

		function procMsg(event){
			if( event.keyCode == 13 && !event.shiftKey ){
				var txt = $("userInput").value;
				txt = txt.replace(/^\s+|\s+$/g, '');
				if(txt.length == 0 ) return;
				now.sendMsg(txt);
				$("userInput").value = '';
				return false;
			}else{
				return true;
			}
		}

	        now.ready(function(){
			enter();
			$("userInput").focus();
	        });
		</script>
	</head>
	<body>
		<h1 id="groupTitle">Group</h1>
		<div id="groupInfo">
			회원 수 : <span id="groupMemberCount">0</span>
		</div>
		<ul id="memberList">
		</ul>
		<div id="chatContainer"></div>
		<div id="inputContainer">
			<img id="userIcon" />
			<textarea id="userInput" onkeydown="return procMsg(event);"></textarea>
		</div>
	</body>
</html>