<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
        var groups = [];

        function makeEl(tag, opt, cont){
          var tmp = document.createElement(tag);
          if( opt ){
            for(var i in opt){
              if( opt.hasOwnProperty(i) )
                tmp.setAttribute(i, opt[i]);
            }
          }

          if( cont ){
            tmp.innerHTML = cont;
          }

          return tmp;
        }

        function $(oid){
          return document.getElementById(oid);
        }

    	 window.fbAsyncInit = function() {
          FB.init({
            appId      : '330600707030353', // App ID
            channelUrl : '/fbchat.lazygyu.net/html/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
          });

          

          FB.getLoginStatus(function(res){
          	if( res.status === 'connected'){
          		document.getElementById('beforeLogin').style.display = 'none';
          		FB.api('/me', function(user) {
		            if (user) {
		              var image = document.getElementById('userIcon');
		              image.src = 'https://graph.facebook.com/' + user.id + '/picture';
		              var name = document.getElementById('username');
		              name.innerHTML = user.name
                  console.dir(user);
		            }
		          });
              FB.api( 
                {
                  method: 'fql.query', 
                  query: 'SELECT gid, name, description, creator, icon FROM group WHERE gid IN (SELECT gid FROM group_member WHERE uid = me())'
                }, 
                function(response) { 
                  var glist = $("groupList");
                  for(var i=0; i < response.length; i++){
                    groups.push(response[i]);
                    var li = makeEl("li", {}, response.name);
                    glist.appendChild(li);
                }
              });
          	}else if(res.status === 'not_authorized'){
          		document.getElementById('afterLogin').style.display = 'none';
          	}else{
          		document.getElementById('afterLogin').style.display = 'none';
          	}
          });
        };
        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));
    </script>
  </head>
  <body>
    <h1>Facebook group chat for pg</h1>
    <div id="beforeLogin">
	    <p>페이스북 그룹 채팅입니다.</p>
	    <p>아래 버튼을 눌러 로그인 해 주세요</p>
	    <div class="fb-login-button" scope='user_groups,friend_groups'>Facebook 로그인하기</div>
	</div>
	<div id="afterLogin">
		<p><img id="userIcon" /> <span id="username"></span></p>
		<p>채팅방에 입장하시려면 원하는 그룹을 선택하세요</p>
    <ul id="groupList">
    </ul>
	</div>
  </body>
</html>