body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.groupIcon { width:2em; height:2em; float:left; }
.groupTitle { display:block; float:right; font-weight:bold; }
.groupDesc { display:block; float:right; }