body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#groupList
  list-style:none

#groupList>li
  border:solid 1px transparent
  cursor:pointer

#groupList>li:hover
  border:solid 1px gray
  background:#eee

#beforeLogin, #afterLogin
	display:none

#loadingDiv
	display:block

.groupIcon 
  width:16px
  height:16px
.groupTitle 
  font-weight:bold
.groupDesc
  display:block
  padding-left:2em

